.editor {
  background: #e7e8e1;
  min-width: 1296px;
}

.editors-picks {
  font-size: 30px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 15px;
}

.editor-big-img {
  cursor: pointer;
  height: 464px;
  width: 831px;
}

.editor-img {
  cursor: pointer;
  height: 149px;
  width: 265px;
}

.editor-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px, 100px, 50px, 10px;
  margin-left: 15px;
}

.fixedwidth-editor {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 60px 480px 675px;
}

.editor-big-img-div {
  grid-column: 1 / 5;
  margin-bottom: 15px;
  margin-left: 15px;
}

.editor-grid-div {
  grid-column: 1 / 5;
}

.editor-list-div {
  grid-column: 5 / -1;
  grid-row: 2;
}

.editor-big-img-text {
  font-size: 30px;
  font-weight: bold;
  margin-top: -90px;
  margin-left: 15px;
  position: absolute;
}

.editor-big-img-description {
  font-size: 20px;
  margin-top: -50px;
  margin-left: 15px;
  position: absolute;
}

.editor-big-img-category {
  font-size: 14px;
  margin-top: -23px;
  margin-left: 15px;
  position: absolute;
}

.editor-big-img-gradient {
  background: linear-gradient( rgba(50,50,50,0), rgba(50,50,50,.5));
  cursor: pointer;
  height: 464px;
  width: 831px;
  margin-top: -464px;
  position: absolute;
  z-index: 1;
}

.editor-big-img-text, .editor-big-img-description,
.editor-big-img-category {
  color: white;
  cursor: pointer;
  z-index: 2;
}

.editor-grid-text, .editor-grid-description,
.editor-grid-category {
  background: white;
  cursor: pointer;
  padding-left: 15px;
  width: 250px;
}

.editor-grid-text {
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.editor-grid-description {
  padding-bottom: 30px;
}

.editor-grid-category {
  font-size: 14px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.editor-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.editor-list-title {
  background: red;
  color: white;
  font-weight: bold;
  grid-column: 1 / -1;
  padding: 10px;
  width: 385px;
}

.editor-list-text-a, .editor-list-text-b {
  cursor: pointer;
  color: #d3d3d3;
  font-size: 20px;
  margin-left: -69px;
  padding: 30px 30px 30px 95px;
  width: 280px;
}

.editor-list-text-a {
  background: #363636;
}

.editor-list-text-b {
  background: #2f2f2f;
}

.editor-list-num {
  background: red;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-family: "Georgia",Times,serif;
  font-size: 20px;
  font-style: italic;
  grid-column: 1 / 1;
  height: 44px;
  width: 44px;
  line-height: 2;
  margin-top: 31px;
  margin-left: 25px;
  text-align: center;
  z-index: 1;
}
