.video {
  min-width: 1296px;
  background: #e7e8e1;
}

.video-grid {
  display: grid;
  grid-template-areas:
    "a a a a a a"
    "a a a a a a"
    "b b b b b b"
    "c c c c c c";
}

.video-title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.video-big-img {
  width: 1248px;
  height: 702px;
  grid-area: a;
  cursor: pointer;
}

.video-big-title {
  grid-area: a;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-top: 580px;
  margin-left: 30px;
  z-index: 2;
}

.video-big-description {
  grid-area: a;
  cursor: pointer;
  color: #ececec;
  margin-top: 620px;
  margin-left: 30px;
  z-index: 2;
}

.video-big-category {
  grid-area: a;
  cursor: pointer;
  color: #ececec;
  margin-top: 650px;
  margin-left: 30px;
  z-index: 2;
}

.video-big-gradient {
  grid-area: a;
  cursor: pointer;
  background: linear-gradient( rgba(50,50,50,0), rgba(50,50,50,.5));
  z-index: 1;
  width: 1248px;
}

.video-subject-bar {
  grid-area: b;
  width: 1248px;
  height: 53px;
  background: #484848;
  border-bottom: 2px solid #676767;
}

.video-subject-a, .video-subject-b,
.video-subject-c {
  grid-area: b;
  cursor: pointer;
  color: white;
  margin-top: 20px;
  font-weight: bold;
  width: 114px;
}

.video-subject-a {
  border-bottom: 5px solid white;
  margin-left: 30px;
}

.video-subject-b {
  margin-left: 180px;
}

.video-subject-c {
  margin-left: 330px;
}

.video-bar-bg {
  grid-area: c;
  width: 1248px;
  height: 137px;
  background: #484848;
  z-index: 0;
  margin-bottom: 30px;
}

.video-vids-c, .video-vids-e, .video-vids-g {
  cursor: pointer;
  width: 192px;
  height: 104px;
}

.video-vids-d, .video-vids-f, .video-vids-h {
  cursor: pointer;
  width: 192px;
  height: 72px;
  font-size: 20px;
  font-weight: bold;
}

.video-vids-c, .video-vids-e, .video-vids-g,
.video-vids-d, .video-vids-f, .video-vids-h {
  grid-area: c;
  z-index: 1;
  margin-top: 15px;
}

.video-vids-c {
  margin-left: 30px;
}

.video-vids-e {
  margin-left: 440px;
}

.video-vids-g {
  margin-left: 840px;
}

.video-vids-d {
  margin-left: 240px;
  color: white;
}

.video-vids-f {
  margin-left: 650px;
  color: #bbbbbb;
}

.video-vids-h {
  margin-left: 1050px;
  color: #bbbbbb;
}

.video-category-a {
  grid-area: c;
  cursor: pointer;
  color: #bbbbbb;
  z-index: 2;
  margin-top: 104px;
  margin-left: 238px;
}

.video-category-b, .video-category-c {
  grid-area: c;
  cursor: pointer;
  color: #a2a2a2;
  z-index: 2;
  margin-top: 104px;
}

.video-category-b {
  margin-left: 648px;
}

.video-category-c {
  margin-left: 1048px;
}
