.footer {
  background: #4c4c4c;
  color: white;
  min-width: 1296px;
}

.footer-title {
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-grid {
  border-bottom: 1px solid #a2a2a2;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content;
  padding-bottom: 15px;
}

.footer-grid-options {
  border-right: 1px solid #a2a2a2;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-right: 15px;
  padding-bottom: 10px;
}

.footer-grid-options-end {
  font-size: 13px;
  font-weight: bold;
  margin-right: 15px;
  padding-bottom: 10px;
}

.footer-row {
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer-row-options {
  cursor: pointer;
  font-size: 13px;
  margin-top: 5px;
  margin-right: 15px;
}

.footer-end {
  font-size: 13px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
